
# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Data & checkpoints
data/
logs/
save/
out/
configs/

# Fast Downward
downward/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.pt
*.ckpt
wandb/